name: flatirons

services:
  postgres_database:
    container_name: postgres_database
    image: docker.io/library/postgres:18.1-bookworm
    environment:
      POSTGRES_USER: flatirons_user
      POSTGRES_PASSWORD: b01a188b6f9f54ce16ae7d18
      POSTGRES_DB: testdb
      PGDATA: /var/lib/postgresql/data
    volumes:
    - postgres_data:/var/lib/postgresql/data
    networks:
    - default
    ports:
    - 5432:5432

  gateway_server:
    container_name: gateway_server
    image: docker.io/library/nginx:1.28.1-trixie
    depends_on:
    - main_server
    - frontend_app
    environment:
      PORT: 8080
      FRONTEND_ADDRESS: http://frontend_app:4000
      MAIN_SERVER_ADDRESS: http://main_server:3333
      IMPORT_SERVER_ADDRESS: http://python_import_server:3334
    volumes:
    - ./application-server/nginx-templates:/etc/nginx/templates
    networks:
    - default
    ports:
    - 8080:8080

  main_server:
    container_name: main_server
    image: main_server_image
    build:
      context: ./application-server
      dockerfile: dev.dockerfile
      target: development
    depends_on:
    - postgres_database
    environment:
      PORT: 3333
      DATABASE_URL: postgresql://flatirons_user:b01a188b6f9f54ce16ae7d18@postgres_database:5432/testdb
      NODE_ENV: development
    volumes:
    - ./application-server/src:/home/node/project/src
    networks:
    - default
    ports:
    - 3333:3333

  python_import_server:
    container_name: python_import_server
    image: python_import_server_image
    build:
      context: ./import-python-server
      dockerfile: dev.dockerfile
      target: development
    depends_on:
    - postgres_database
    environment:
      PORT: 3334
      DATABASE_URL: postgresql://flatirons_user:b01a188b6f9f54ce16ae7d18@postgres_database:5432/testdb
      FLASK_ENV: development
    networks:
    - default
    ports:
    - 3334:3334

  frontend_app:
    container_name: frontend_app
    image: frontend_app_image
    build:
      context: ./frontend
      dockerfile: dev.dockerfile
      target: development
    environment:
      VITE_APP_API_ADDRESS: http://localhost:8080
    volumes:
    - ./frontend/src:/home/node/project/src
    networks:
    - default
    ports:
    - 4000:4000

volumes:
  postgres_data: {}

networks:
  default:
    enable_ipv6: true
