.container {
	display: block;
	max-width: 100%;
	width: 100%;
}

.list {
	display: flex;
	flex-flow: row nowrap;
	border-bottom: 1px solid var(--color-gray-900);
}

.list li {
	display: flex;
	padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
}

.list li:not(:last-child) {
	border-right: 1px solid var(--color-gray-900);
}
