.container {
	gap: calc(var(--spacing) * 8);
}

.success_container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;

	width: var(--container-md);
	padding: calc(var(--spacing) * 4);
	border-radius: var(--radius-md);

	background-color: var(--color-green-50);
}

.success_message {
	font-weight: var(--font-weight-semibold);
}

.alert_container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;

	width: var(--container-md);
	padding: calc(var(--spacing) * 4);
	border-radius: var(--radius-md);

	background-color: var(--color-red-50);
}

.products_link {
	text-decoration: underline;
	color: var(--color-sky-500);
}